{{#if mensajesDenormalizados}}
        {{#each mensajesDenormalizados}}
            <span style="font-weight: 800; color:{{color}}">{{author.id}}</span>
            <span class="text-secondary">{{createdAt}}</span>
            <p>{{text}}</p>
        {{/each}}
{{else}}
    <p>No hay mensajes todavia.</p>
{{/if}}